{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "RequireHttpsOnly",
      "Effect": "Deny",
      "Principal": "*",
      "Action": "s3:*",
      "Resource": [
        "arn:aws:s3:::{{ backup_audit_bucket_name }}",
        "arn:aws:s3:::{{ backup_audit_bucket_name }}/*"
      ],
      "Condition": {
        "Bool": {
          "aws:SecureTransport": "false"
        }
      }
    },
    {
      "Sid": "AllowCloudTrailDelivery",
      "Effect": "Allow",
      "Principal": {"Service": "cloudtrail.amazonaws.com"},
      "Action": "s3:GetBucketAcl",
      "Resource": "arn:aws:s3:::{{ backup_audit_bucket_name }}"
    },
    {
      "Sid": "AllowCloudTrailLogWrite",
      "Effect": "Allow",
      "Principal": {"Service": "cloudtrail.amazonaws.com"},
      "Action": "s3:PutObject",
      "Resource": "arn:aws:s3:::{{ backup_audit_bucket_name }}/cloudtrail/AWSLogs/{{ aws_account_id }}/*",
      "Condition": {"StringEquals": {"s3:x-amz-acl": "bucket-owner-full-control"}}
    }
  ]
}
