{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "InvokeBackupMonitor",
      "Effect": "Allow",
      "Action": "lambda:InvokeFunction",
      "Resource": "{{ backup_monitor_lambda_arn }}"
    }
  ]
}
