[defaults]
inventory = ./inventory/production.yml
roles_path = ./roles
strategy_plugins = ./strategy_plugins
strategy = canonical_production_transaction
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False
